[submodule "bundle/surround"]
  path = bundle/surround
  url = git://github.com/tpope/vim-surround.git
  ignore = dirty
[submodule "bundle/markdown"]
  path = bundle/markdown
  url = git://github.com/tpope/vim-markdown.git
  ignore = dirty
[submodule "bundle/textile"]
  path = bundle/textile
  url = git://github.com/timcharper/textile.vim.git
  ignore = dirty
[submodule "bundle/vim-git"]
  path = bundle/vim-git
  url = git://github.com/tpope/vim-git.git
  ignore = dirty
[submodule "bundle/vim-mercurial"]
  path = bundle/vim-mercurial
  url = git://github.com/rfc1459/vim-mercurial.git
  ignore = dirty
[submodule "bundle/gitolite"]
  path = bundle/gitolite
  url = git://github.com/tmatilai/gitolite.vim.git
  ignore = dirty
[submodule "bundle/command-t"]
  path = bundle/command-t
  url = git://github.com/wincent/Command-T.git
  ignore = dirty
[submodule "bundle/vim-json"]
  path = bundle/vim-json
  url = git://github.com/elzr/vim-json.git
  ignore = dirty
[submodule "bundle/vim-transpose"]
  path = bundle/vim-transpose
  url = git://github.com/salsifis/vim-transpose.git
  ignore = dirty
[submodule "bundle/css"]
  path = bundle/css
  url = git://github.com/JulesWang/css.vim.git
  ignore = dirty
[submodule "bundle/vim-go"]
  path = bundle/vim-go
  url = git://github.com/fatih/vim-go.git
  ignore = dirty
[submodule "bundle/docker"]
  path = bundle/docker
  url = git://github.com/ekalinin/Dockerfile.vim
  ignore = dirty
[submodule "bundle/base16"]
  path = bundle/base16
  url = git://github.com/chriskempson/base16-vim.git
  ignore = dirty
