[submodule "bundle/surround"]
  path = bundle/surround
  url = git://github.com/tpope/vim-surround.git
  ignore = dirty
[submodule "bundle/markdown"]
  path = bundle/markdown
  url = git://github.com/tpope/vim-markdown.git
  ignore = dirty
[submodule "bundle/textile"]
  path = bundle/textile
  url = git://github.com/timcharper/textile.vim.git
  ignore = dirty
[submodule "bundle/scss-syntax"]
  path = bundle/scss-syntax
  url = http://github.com/cakebaker/scss-syntax.vim.git
  ignore = dirty
[submodule "bundle/vim-git"]
  path = bundle/vim-git
  url = git://github.com/tpope/vim-git.git
  ignore = dirty
[submodule "bundle/vim-mercurial"]
  path = bundle/vim-mercurial
  url = git://github.com/rfc1459/vim-mercurial.git
  ignore = dirty
[submodule "bundle/gitolite"]
  path = bundle/gitolite
  url = git://github.com/tmatilai/gitolite.vim.git
  ignore = dirty
[submodule "bundle/vim-protobuf-syntax"]
  path = bundle/vim-protobuf-syntax
  url = git://github.com/jdevera/vim-protobuf-syntax
  ignore = dirty
[submodule "bundle/vimerl"]
  path = bundle/vimerl
  url = git://github.com/oscarh/vimerl.git
  ignore = dirty
[submodule "bundle/command-t"]
  path = bundle/command-t
  url = git://git.wincent.com/command-t.git
  ignore = dirty
[submodule "bundle/vim-json"]
  path = bundle/vim-json
  url = git://github.com/elzr/vim-json.git
  ignore = dirty
[submodule "bundle/vim-golang"]
  path = bundle/vim-golang
  url = git://github.com/jnwhiteh/vim-golang.git
